html {
  display: flex;
  justify-content: center;
}

body {
  width: 350px;
  max-width: 100%;
}

label {
  display: flex;
  margin-bottom: 0.5em;
  justify-content: space-between;
}

input, button, select {
  font: inherit;
}

input {
  text-align: right;
}

input[type=number] {
  max-width: 50px;
}
