html, body {
  box-sizing: border-box;
}

body {
  background-color: rgb(237, 241, 245);
  color: rgb(92, 114, 138);
  font-size: 15px;
  padding: 16px;
  margin: 0;
  width: 350px;
  user-select: none;
  max-width: 100%;
}

a {
  color: rgb(61, 180, 242);
  text-decoration: none;
}

h2, h3 {
  margin: 0.3em 0;
  line-height: 1;
}

#empty-message {
  display: none;
}

body.notifs-disabled.no-prompts #empty-message {
  display: block;
}

#notifs {
  padding-top: 16px;
}

.amn {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  overflow: hidden;
  background-color: rgb(250, 250, 250);
  border-radius: 4px;
  min-height: 70px;
  position: relative;
  padding-left: 60px;
  user-select: text;
}

.amn:last-child {
  margin-bottom: 0;
}

.amn_text {
  color: inherit;
  /* text-decoration: none; */
  margin: 16px;
}

.amn_image {
  width: 60px;
  height: 100%;
  /* background-color: lightgrey; */
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
  position: absolute;
  left: 0;
}

#notifs-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#notifs-update {
  -webkit-appearance: none;
  cursor: pointer;
  background-image: url(/img/refresh.svg);
  background-color: transparent;
  border: none;
  background-size: contain;
  background-position: center;
  width: 24px;
  height: 24px;
  opacity: 0.5;
}

#notifs-update:hover {
  opacity: 0.7;
}

body.notifs-disabled .notifs {
  display: none;
}

#prompts {
  margin-bottom: 16px;
}

.amp {
  display: flex;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
}

.amp .image {
  width: 50px;
  height: 70px;
  background-size: cover;
  background-position: center;
  border-radius: 4px;
  flex-shrink: 0;
}

.amp .info {
  padding: 0 16px;
}

body.no-prompts #prompts {
  display: none;
}
